/* .modal--testimonials{
  margin-top: -1320px !important;
  margin-left: -225px !important;
} */

/* .photo, .photo2{
  margin-left: 105px;
  width: 655px;
  margin-top: 25px;
} */

#app{
  display: grid;
  grid-template-columns: auto 655px 310px auto !important;
  grid-template-rows: 485px 450px 360px auto;
}


#app-matt{
  grid-column-start: 3 !important;
  margin-left: 7px !important;
  left: 0 !important;
}


